@font-face {
  font-family: "HK Grotesk Regular";
  src: url(/fonts/HKGrotesk-Regular.woff?5737c302d3ffffe5905fed4bdc58a51c);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HK Grotesk Bold";
  src: url(/fonts/HKGrotesk-Bold.woff?31b3bc10df4250df6f2ccca4bcc4d554);
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: "HK Grotesk Regular" !important;
  font-weight: normal;
}

#headercarousels .header-slider [data-bs-target] {
  background-color: #CA171E;
  border: 1px solid white;
}

.header-text {
  color: white;
  font-size: 108px;
  font-weight: bold;
  text-align: left;
  font-family: "HK Grotesk Bold";
}

.btn-sliders {
  color: white !important;
  border-color: white !important;
}

#headercarousels .carousel-inner .carousel-caption {
  text-align: left;
  margin-bottom: 350px;
}

#headercarousels .carousel-indicators {
  justify-content: left;
  margin-bottom: 300px;
}

.img-logo {
  filter: brightness(0) invert(1);
}

.text-burger {
  filter: brightness(0) invert(1);
  width: 2.5em !important;
}

.text-reds {
  color: #CA171E;
}

.text-titles {
  font-weight: bold;
  font-family: "HK Grotesk Bold";
}

.text-middle-slid {
  font-family: "HK Grotesk Bold";
  font-weight: bold;
  font-size: 64px;
}

.text-slider-mids {
  text-align: left;
  padding-left: 400px;
  margin-top: -275px;
}

#carousel-mids .mids-slider [data-bs-target] {
  background-color: #CA171E;
  border: 1px solid white;
}

.text-caption-3-slider {
  position: absolute;
  color: white;
  bottom: 0px;
  padding-left: 10px;
}

#carousel-3-inliners .indicator-3-inliners [data-bs-target] {
  background-color: #CA171E;
  border: 1px solid white;
}

.indicator-3-inliners {
  top: 108%;
}

#carousel-mids .carousel-control-prev-icon,
#carousel-3-inliners .carousel-control-prev-icon,
#carousel-many-bottom .carousel-control-prev-icon {
  background-image: url(/images/arrow-back-circle-outline.svg?4eb6956d6d7679bf5de55d14899fb228);
}

#carousel-mids .carousel-control-next-icon,
#carousel-3-inliners .carousel-control-next-icon,
#carousel-many-bottom .carousel-control-next-icon {
  background-image: url(/images/arrow-forward-circle-outline.svg?26f1af277417ed42f32560e280e227f2);
}

#carousel-mids .carousel-control-next-icon,
#carousel-mids .carousel-control-prev-icon,
#carousel-3-inliners .carousel-control-prev-icon,
#carousel-3-inliners .carousel-control-next-icon {
  filter: unset;
}

#carousel-3-inliners .carousel-control-prev,
#carousel-many-bottom .carousel-control-prev {
  left: -125px;
}

#carousel-3-inliners .carousel-control-next,
#carousel-many-bottom .carousel-control-next {
  right: -125px;
}

@media (min-width: 768px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 100%;
    *width: 100%;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.2857142857%;
    *width: 14.2857142857%;
  }
}

@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.2857142857%;
    *width: 14.2857142857%;
  }
}

.creative-proj {
  border-bottom: 8px solid #ebc417;
}

